<h2>Lista prezentów</h2>

<ul>
    {{#each childrenlist}}
        <li>
            <label>
                {{this.name}}
                <select>
                    <option value="">Brak</option>
                </select>
                <button>Zapisz</button>
            </label>
        </li>
    {{/each}}
</ul>

<!--<h2>Dodaj dziecko do listy</h2>-->
<!--<form action="">-->
<!--    <label>-->
<!--        Imię-->
<!--        <input type="text">-->
<!--    </label>-->
<!--</form>-->